* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

/*
Light mode
# f38181
# fce38a
# 95e1d3

Dark mode
# ff7f50
# 404969
# bde4f4
*/
