.home-view-single-card-link-wrapper,
.home-view-single-card-link-wrapper:hover {
  text-decoration: none;
  color: inherit;
}
.home-view-single-card {
  background-color: #e5e8ee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.poster-rate-title > img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.home-view-single-title-card {
  font-size: 1.1rem;
}
.home-view-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404747;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.home-view-card-button:hover {
  opacity: 0.9;
}
.fa-play {
  color: white;
}
.fa-play:hover {
  cursor: pointer;
}
.home-view-card-button > button {
  border: none;
  background-color: #404747;
  color: white;
}
@media (max-width: 768px) {
.poster-rate-title > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
}
